@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', serif;
  background-color: #f8f5f0;
  color: #4a4a4a;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  background-image: linear-gradient(
      to right,
      #5d3b8a,
      #5d3b8a 50%,
      #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before {
  content: '';
  background: #5d3b8a;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
}

#screen1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url('./img/bg_1.jpg');
  color: #4e3178;
  text-shadow: 2px 2px 10px rgb(123 114 108);
}

#screen1 .date {
  font-size: 100px;
  font-family: "Jost", serif;
  margin: 20px 0;
  font-weight: bold;
}

#screen1 .names {
  font-family: 'Jost', cursive;
  font-size: 80px;
}

#screen2 {
  background-color: #fefaf8;
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#screen2 .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

#screen2 .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  font-size: 24px;
  color: #412962;
}

#screen2 .text h2 {
  font-size: 46px;
  margin-bottom: 10px;
  font-family: 'Jost', serif;
  text-transform: uppercase;
}

#screen2 .text p {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

#screen2 .photos {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
}

#screen2 .photos img {
  max-width: 350px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  transition: transform 0.3s ease;
}

#screen2 .photos img:first-child {
  top: 0;
  left: 0;
  transform: translate(-20px, 20px) rotate(-3deg);
}

#screen2 .photos img:last-child {
  top: 0;
  right: 0;
  transform: translate(20px, -20px) rotate(3deg);
}

#screen3 {
  font-size: 34px;
  background-color: #ffffff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#screen3 .venues {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  max-width: 1200px;
  width: 100%;
}

#screen3 .venue {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f8f5f0;
  border: 2px solid #5d3b8a;
  border-radius: 10px;
  padding: 20px;
  width: 40rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#screen3 .venue img {
  position: absolute;
  top: 45px;
  left: -60px;
  width: 270px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#screen3 .venue .details {
  margin-left: 250px;
}

#screen3 h2 {
  color: #5d3b8a;
}

#screen3 .venue h3 {
  font-size: 24px;
  font-family: 'Jost', serif;
  margin-bottom: 10px;
  color: #5d3b8a;
}

#screen3 .venue p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

#screen3 .venue a {
  font-size: 14px;
}

#screen4 {
  background-image: url('./img/music.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#screen4 h2 {
  font-size: 36px;
  font-family: 'Jost', serif;
  margin-bottom: 10px;
}

#screen4 p {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: 'Jost', serif;
}

#screen4 .btn {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  background-color: #ffffff;
  color: #4a4a4a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

#screen4 .btn:hover {
  background-color: #f0f0f0;
}

#screen5 {
  background-color: #fefaf8;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
  position: relative;
}

#screen5 .left-section {
  flex: 1.2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
}

#screen5 .left-section img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#screen5 .right-section {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#screen5 form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#screen5 input, #screen5 textarea, #screen5 select, #screen5 button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#screen5 button {
  background-color: #5d3b8a;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

#screen5 button:hover {
  background-color: #452a6f;
}

#screen5 .overlay-image {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#screen5 p {
  margin-bottom: 15px;
}

#screen6 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("./img/footer.jpg");
  padding: 50px;
  text-align: center;
  color: #4e3178;
}

#screen6 h2 {
  color: #4e3178;
  font-size: 36px;
  font-family: 'Jost', serif;
  margin-bottom: 20px;
}

#screen6 p {
  font-size: 26px;
  margin: 10px 0;
}

.footer-channel-link {
  font-weight: bold;
}

#screen6 .footer-icon {
  margin-top: 20px;
  font-size: 24px;
  color: #4e3178;
}

@media (max-width: 1199px) and (min-width: 768px) {
  #screen1 .date {
    font-size: 50px;
    font-weight: bold;
  }

  #screen1 .names {
    font-size: 40px;
  }

  #screen2 .photos img {
    max-width: 25vw;
  }

  #screen2 .photos img:first-child {
    top: 0;
    left: 20vw;
  }

  #screen2 .photos img:last-child {
    top: 0;
    left: -5vw;
  }

  #screen2 .text h2 {
    font-size: 32px;
  }

  #screen3 h2 {
    font-size: 30px;
  }

  #screen3 .venues {
    flex-direction: row;
  }

  #screen3 .venue {
    width: 20rem;
    justify-content: center;
  }

  #screen3 .venue .details {
    margin-left: 0;
  }

  #screen3 .venue img {
    display: none;
  }

  #screen5 .left-section {
    flex: 0.75;
    background-position: left;
    height: 50vh;
  }

  #screen5 .overlay-image {
    left: 33%;
    width: 180px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  #screen1 .date {
    font-size: 40px;
    font-weight: bold;
  }

  #screen1 .names {
    font-size: 30px;
  }

  #screen2 .photos img {
    max-width: 30vw;
  }

  #screen2 .photos img:first-child {
    top: 20vh;
    left: 15vw;
  }

  #screen2 .photos img:last-child {
    top: 20vh;
    left: -15vw;
  }

  #screen2 .text h2 {
    font-size: 26px;
  }

  #screen2 .text p {
    font-size: 20px;
  }

  #screen3 {
    padding: 0;
  }

  #screen3 h2 {
    font-size: 26px;
  }

  #screen3 .venues {
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
  }

  #screen3 .venue {
    justify-content: center;
    width: 45%;
    padding: 10px;
  }

  #screen3 .venue .details {
    margin-left: 0;
  }

  #screen3 .venue img {
    display: none;
  }

  #screen5 {
    padding: 20px;
    justify-content: flex-end;
  }

  #screen5 .overlay-image {
    top: 50vh;
    left: 20%;
    width: 200px;
  }

  #screen5 .left-section {
    display: none;
  }

  #screen5 .right-section {
    margin-top: 10px;
    flex: 0.6;
    z-index: 9;
  }
}

@media (max-width: 575px) {
  #screen1 .date {
    font-size: 40px;
    font-weight: bold;
  }

  #screen1 .names {
    font-size: 30px;
  }

  #screen2 {
    align-items: stretch;
  }
  #screen2 .content {
    flex-direction: column;
  }

  #screen2 .photos img {
    max-width: 40vw;
  }

  #screen2 .text h2 {
    font-size: 36px;
  }

  #screen3 h2 {
    font-size: 26px;
  }

  #screen3 .venues {
    gap: 30px;
  }

  #screen3 .venue {
    width: 90%;
    justify-content: center;
  }

  #screen3 .venue .details {
    margin-left: 0;
  }

  #screen3 .venue img {
    display: none;
  }

  #screen5 .overlay-image {
    top: 27vh;
    left: 50%;
    width: 200px;
  }

  #screen5 .left-section {
    display: none;
  }

  #screen5 .right-section {
    margin-top: 200px;
    flex: 0;
    z-index: 9;
  }
}
